/* This file is for your main application css. */
html, body {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.page {
  min-height: 100%;
  height: 100%;
  margin-top: 0px;
  padding-top: 0px;
}

#command-input {
  width: 100%;
  height: auto;
}

main {
  height: 80%;
}

.messagesContainer {
  height: 100%;
  overflow-y: scroll;;
}

#messages {
  list-style: none;
}
